.subscribe-btn {
    background-color: rgb(210, 43, 43);
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .15s, padding .2s;
    vertical-align: top;
    margin-right: 8px;
}

.subscribe-btn:hover {
    opacity: 0.8;
    padding: 15px 30px;
}

.subscribe-btn:active {
    opacity: 0.4;
}

.join-btn {
    background-color: white;
    border: 1px solid rgb(41, 118, 211);
    border-radius: 2px;
    color: rgb(41, 118, 211);
    font-size: 15px;
    padding: 9px 20px;
    font-weight: 530;
    cursor: pointer;
    transition: background-color .15s, color .15s;
    vertical-align: top;
}

.join-btn:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.join-btn:active {
    opacity: 0.7;
}

.tweet-btn {
    background-color: rgb(2, 158, 255);
    border: none;
    border-radius: 18px;
    color: white;
    height: 36px;
    width: 74px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;

}

.tweet-btn:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .15);
}

.tweet-btn:active {
    box-shadow: none;
    margin-top: 4px;
    margin-right: 4px;
}