*
{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
.navdiv ul
{
list-style: none;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px;
    align-items: center;
    width: 80%;
}
.navitems
{
    display: flex;
    gap:50px;
    align-items: center;
    font-weight: 500;

}
.navIcon img
{
    width: 120px;
}

.mainSec {
    background-color: #28293a; 
    margin-bottom: auto;/* Set the background color to a light gray */
  }


.mainSecImg img
{
    width: 300px;
}

.midSec
{   
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midSecText img
{
    width: 45px;

}

.midSecText 
{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    gap: 15px;
    justify-content: center;
    align-items: center;

}

.midSecP
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.midFl
{
    display: flex;
    align-items: center;
    gap: 8px;

}

.midFl p{
    font-size: 30px;
    align-items: center;
}

.download
{
    background-color:#75b73d;
    border: none;
    padding: 12px 45px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #fcfcfc;
    margin-top: 5px;
}

.product-name {
    color: #72af3e;
    font-weight: bold;
  }
  
.product-desc 
{
    color: white;
    font-weight: 200;
    font-size: 32px;
}

.scndSec{
    width: 63%;
    display: flex;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.scndSec .product-desc
{
    color: black;
}

.scndSec .midSecP
{
    color: black;
}

.features
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
margin-bottom: 40px;

}

.features .ftxt
{
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.5px;
}

.features .fsubtxt{
    font-weight: 400;
    font-size: 20px;
}

.trdSec
{
    width: 72%;
    margin: 65px auto 65px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:70px;
    grid-row-gap: 50px;
}

@media  screen and (max-width: 600px) 
{
    .trdSec
    {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.trdSecBox
{
    display: flex;
    gap: 15px;
    align-items: start;
}

.trdSecText
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
}

.trdSecText .trdSecTextHead
{
    font-size: 16px;
    font-weight: 650;
}

.trdSecTextHead p
{
    word-spacing: 3px;
    letter-spacing: 1px;
}

.trdSecText .trdSecTextSub
{
    font-size: 13px;
    font-weight: 350;
    display: flex;
    flex-direction: column;
   
}

.trdSecTextSub p
{
    line-height: 1.7;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.trdSecIcon img
{
width: 25px;
}

.frthSec
{
    background-color: #eeeeee;
    padding-bottom: 100px;
}

.frthSecFeature
{
    padding-top: 75px;
    padding-bottom: 50px;
}

.frthSecMidImg
{
    width: 2000px;
}

.frthSecMid
{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
}

.frthSecMidtxt .midFl .product-descm
{
    color: black;
}

.frthSecHd
{
    padding-bottom: 20px;
    
}

.frthSecMidTxt .mid p
{
    line-height: 1.6;
    font-size: 14px;
    font-weight: 400;
}

.mid .list
{
padding:10px 0px 0px 14px;
line-height: 1.6;
font-size: 14px;
font-weight: 400;
}

.mid .image
{
    padding-top: 10px;
}
.mid .image img{
    width: 130px;
}

